SERVICE_PORT=3000
GIN_MODE=debug
DATABASE_HOST=host.docker.internal
DATABASE_DBNAME=goBasic
DATABASE_PORT=6002
DATABASE_USER=admin
DATABASE_PASSWORD=admin
DATABASE_SCHEMA=public
TIMEZONE=Asia/Ho_Chi_Minh

MODULE_BOOK_DB_HOST=host.docker.internal
MODULE_BOOK_DB_PORT=6002
MODULE_BOOK_DB_NAME=goBasic
MODULE_BOOK_DB_USER=admin
MODULE_BOOK_DB_PASSWORD=admin
MODULE_BOOK_DB_SCHEMA=book_schema
MODULE_BOOK_DB_AUTO_CREATE=true

MODULE_USER_DB_HOST=host.docker.internal
MODULE_USER_DB_PORT=6002
MODULE_USER_DB_NAME=goIKV
MODULE_USER_DB_USER=admin
MODULE_USER_DB_PASSWORD=admin
MODULE_USER_DB_SCHEMA=user_module
MODULE_USER_DB_AUTO_CREATE=true